//
//  EditorWebViewDemo.xcconfig
//  EditorWebViewDemo
//
//  Created by Alexander Yuzhin on 16.11.2022.
//  Copyright © 2022 Ascensio System SIA. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DOCUMENT_SERVER_URL =
